<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1>Aplikasi Manajemen Siswa</h1>
		<br>
		
		{{#if message}}
			<p class="{{ type }}">{{ message }}</p>
		{{/if}}

		<table border="1" cellpadding="5" cellspacing="0" width="80%">
			<thead>
				<tr>
					<th>No.</th>
					<th>Nama Lengkap</th>
					<th>NISN</th>
					<th>Kelas/Jurusan</th>
					<th>Tanggal Lahir</th>
					<th>Foto</th>
					<th>Aksi</th>
				</tr>
			</thead>
			<tbody>
				{{#each results}}
				<tr>
					<td>{{ no }}</td>
					<td>{{ full_name }}</td>
					<td>{{ nisn }}</td>
					<td>{{ kelas }} - {{ jurusan}}</td>
					<td>{{ ttl }}</td>
					<td>
						<img src="/uploads/{{ foto }}" alt="Foto {{ full_name }}" width="100" height="150" />
					</td>
					<td>
						<a href="/edit/{{ id }}">Edit</a>
						<a href="/hapus/{{ id }}">Hapus</a>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</body>
</html>
