<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Aplikasi Siswa SMKN 12</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">SMKN 12 Jakarta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <form action="/search" class="form-inline my-2 my-lg-0" method="post">
            <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <section class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h1>Daftar Siswa</h1>
          </div>
        </div>

        <div class="row mt-4">
          {{#if data}}
            {{#each data}}
            <div class="col-md-3 mb-3">
              <div class="card">
                <img src="/img/{{ img }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : {{ name }}</h5>
                  <p class="card-text">NISN : {{ nis }}</p>
                  <a href="/detail/{{ id }}" class="btn btn-primary">Get Detail</a>
                </div>
              </div>
            </div>
            {{/each}}
          {{else}}
            <div class="col-md-8">
              <div class="alert alert-danger" role="alert">
                <strong>{{ msg }}</strong>
                <button type="button" onclick="window.location = '/'" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>